{% extends 'CherezWebDefaultBundle::default.html.twig' %}
{% block headline %}В доступе отказано{% endblock headline %}
{% block content_content %}
    <p>У вас нет прав достапа к этой странце.</p>
{% endblock content_content %}