{% extends 'CherezWebDefaultBundle::default.html.twig' %}
{% block headline %}Страница не найдена{% endblock headline %}
{% block content_content %}
    <p>Запрашиваемая страница не существуют.</p>
{% endblock content_content %}